@font-face{
  font-family : "NeutraTextTF-BoldAlt";
  src: url('static/fonts/NeutraTextTF-BoldAlt.woff') format('woff');
  src: url('static/fonts/NeutraTextTF-BoldAlt.woff') format('ttf');
  src: url('static/fonts/NeutraTextTF-BoldAlt.otf') format('otf');
}
body{
  #font-family: "NeutraTextTF-BoldAlt", Helvetica, sans-serif;
  background-color: #f7f7f7;
}
.top-bar{
  background-color: white;
  height: 100px;
  padding: 10px 40px 0 40px;
  #box-shadow: 0px 0px 10px 10px #efefef;
}
.top-bar .name .site-name{
  font-family: "NeutraTextTF-BoldAlt";
  background-color: #FF7C3C;
  font-size: 2.5em;
  padding: 11.5px 21px 11.5px 21px;
  box-shadow: 1px 0px 1px #F66200,0px 1px 1px #D45500,2px 1px 1px #F66200,1px 2px 1px #D45500,3px 2px 1px #F66200,2px 3px 1px #D45500,4px 3px 1px #F66200,3px 4px 1px #D45500,5px 4px 1px #F66200,4px 5px 1px #D45500,6px 5px 1px #F66200;
}
/* .top-bar .name .site-name:active{ box-shadow: 1px 0px 1px #F66200,0px 1px 1px #d45500,2px 1px 1px #F66200,1px 2px 1px #d45500,3px 2px 1px #F66200;top:-2px;left:3px; } */
.top-bar .name .site-name a{
  padding: 0;
	#text-shadow: 0px 0px 0px #aaa, -1px -1px 0px #aaa, -2px -2px 0px #aaa, -3px -3px 0px #aaa, -4px -4px 0px #aaa, -5px -5px 0px #aaa, -6px -6px 5px rgba(0, 0, 028, 0.75);
  #text-shadow: 1px 0px 1px #aaa,0px 1px 1px #aaa,2px 1px 1px #aaa,1px 2px 1px #aaa,3px 2px 1px #aaa,2px 3px 1px #aaa,4px 3px 1px #aaa,3px 4px 1px #aaa,5px 4px 1px #aaa,4px 5px 1px #aaa,6px 5px 1px #aaa;
}
.board{
  background-color: #E5EFED;
  border: 2px solid gray;
  border-radius: 5px;
  /* background-image: linear-gradient(white 2px, transparent 2px),
  linear-gradient(90deg, white 2px, transparent 2px),
  linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
  linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
  background-size:100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px; */
  #background-color: #335a4c;
  #background-color: #2F5FAE;
  color: white;
  width: 300px;
  display: inline-block;
  padding: 5px;
  vertical-align: top;
  position: relative;
  -webkit-transition-property: height, width;
  -webkit-transition-duration: 1s;
}
.board-empty{
  text-align: center;
  color: #000;
}
.board .board-title{
  color: #333;
  font-size: 15px;
  min-height: 19px;
  min-width: 30px;
  line-height: 18px;
}
.new-card-form{
  margin: 0;
}
.card{
  -webkit-transition: -webkit-transform .1057s ease .075s;
  background-color: #BFC1B5;
  position: relative;
  color: #333;
  margin: 0 auto;
  width: 270px;
  box-shadow: 1px 0px 1px #9c9f8d,0px 1px 1px #797c68,2px 1px 1px #9c9f8d,1px 2px 1px #797c68,3px 2px 1px #9c9f8d,2px 3px 1px #797c68,4px 3px 1px #9c9f8d,3px 4px 1px #797c68,5px 4px 1px #9c9f8d,4px 5px 1px #797c68,6px 5px 1px #9c9f8d;
  padding: 10px;
  margin-bottom: 10px;
}
.card:hover{
  cursor: pointer;
}
.card:active{
  box-shadow: 1px 0px 1px #9c9f8d,0px 1px 1px #797c68,2px 1px 1px #9c9f8d,1px 2px 1px #797c68,3px 2px 1px #9c9f8d,2px 3px 1px #797c68,4px 3px 1px #9c9f8d,3px 4px 1px #797c68,5px 4px 1px #9c9f8d,4px 5px 1px #797c68,6px 5px 1px #9c9f8d, 10px 10px 10px #333;
  font-weight: bold;
  transform: rotate(-3deg);
 -webkit-transform: scale(1.4,1.4);
  z-index: 1000;
}
.card:active .option-square{
  background-color: red;
  z-index: 100;
}
.card .card-title{
  #font-size: 12px;
  max-width: 215px;
  margin-bottom: 0;
  font-weight: bold;
  white-space: normal;
}
.card-input.title{
  border-bottom: none;
  font-size: 16px;
  font-weight: bold;
  background-color: #BFC1B5 ;
  position: relative ;
  color: #333 ;
  margin: 0 auto ; 
  width: 270px ;
  box-shadow: 1px 0px 1px #9c9f8d,0px 1px 1px #797c68,2px 1px 1px #9c9f8d,1px 2px 1px #797c68,3px 2px 1px #9c9f8d,2px 3px 1px #797c68,4px 3px 1px #9c9f8d,3px 4px 1px #797c68,5px 4px 1px #9c9f8d,4px 5px 1px #797c68,6px 5px 1px #9c9f8d ;
  padding: 10px ;
  #margin-bottom: 10px ;
}
.card-input.content{
  border-top: none;
  background-color: #BFC1B5 ;
  position: relative ;
  color: #333 ;
  margin: 0 auto ; 
  width: 270px ;
  box-shadow: 1px 0px 1px #9c9f8d,0px 1px 1px #797c68,2px 1px 1px #9c9f8d,1px 2px 1px #797c68,3px 2px 1px #9c9f8d,2px 3px 1px #797c68,4px 3px 1px #9c9f8d,3px 4px 1px #797c68,5px 4px 1px #9c9f8d,4px 5px 1px #797c68,6px 5px 1px #9c9f8d ;
  padding: 10px ;
  #margin-bottom: 10px ;
}
.card-counter{
  position: absolute;
  top: 0;
  right: 0;
} 
.board .card-list{
  margin-top: 10px;
}
.container{
  position: relative;
  float: left;
  margin-top: 110px;
}
.main-content-area{
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
.option-square{
  -webkit-transition: background-color .3s ease-in-out;
  height: 10px;
  width: 10px;
  background-color: black;
  position: absolute;
  top: 4px;
  right: 4px;
}
.add-button{
  color: black;
  cursor: pointer; 
  text-align: center; 
  font-size: 2em; 
  padding: 0; 
  margin: 0;
}
.card-form-controls{
  width: 270px;
  margin: 0 auto;
}
.card-form-controls button.confirm{
  background-color: rgba(174, 204, 129, 1);
  border-color: transparent transparent #95bc5b #95bc5b;
  box-shadow: 1px 0px 1px #9c9f8d,0px 1px 1px #71943c,2px 1px 1px #9c9f8d,1px 2px 1px #71943c,3px 2px 1px #9c9f8d,2px 3px 1px #71943c,4px 3px 1px #9c9f8d,3px 4px 1px #71943c,5px 4px 1px #9c9f8d,4px 5px 1px #71943c,6px 5px 1px #9c9f8d ;
}
.card-form-controls button.cancel{
  background-color: rgba(184, 58, 51, 1);
  border-color: transparent #8D2412 #8D2412 transparent;
  box-shadow: 1px 0px 1px #8D2412 ,0px 1px 1px #5e180c,2px 1px 1px #8D2412,1px 2px 1px #5e180c,3px 2px 1px #8D2412,2px 3px 1px #5e180c,4px 3px 1px #8D2412,3px 4px 1px #5e180c,5px 4px 1px #8D2412,4px 5px 1px #5e180c,6px 5px 1px #8D2412;
}
.card-form-controls button{
  -webkit-box-shadow: none;
  box-shadow: none;
  float: left;
}
.clearfix:after{
  content: " ";
  display: block;
  height: 0;
  clear: both;
}
.row{ max-width: 100%;}
@-webkit-keyframes pulse{
  from {
    background-color: #BFC1B5;
    box-shadow: 1px 0px 1px #9c9f8d,0px 1px 1px #797c68,2px 1px 1px #9c9f8d,1px 2px 1px #797c68,3px 2px 1px #9c9f8d,2px 3px 1px #797c68,4px 3px 1px #9c9f8d,3px 4px 1px #797c68,5px 4px 1px #9c9f8d,4px 5px 1px #797c68,6px 5px 1px #9c9f8d, 10px 10px 10px #333;
  }
  50%{
    background-color: #E4E5E0;
    box-shadow: 1px 0px 1px #d6d7cf,0px 1px 1px #b4b6a9,2px 1px 1px #d6d7cf,1px 2px 1px #b4b6a9,3px 2px 1px #d6d7cf,2px 3px 1px #b4b6a9,4px 3px 1px #d6d7cf,3px 4px 1px #b4b6a9,5px 4px 1px #d6d7cf,4px 5px 1px #b4b6a9,6px 5px 1px #d6d7cf, 10px 10px 10px #333;
  }
  to{
    background-color: #BFC1B5;
    box-shadow: 1px 0px 1px #9c9f8d,0px 1px 1px #797c68,2px 1px 1px #9c9f8d,1px 2px 1px #797c68,3px 2px 1px #9c9f8d,2px 3px 1px #797c68,4px 3px 1px #9c9f8d,3px 4px 1px #797c68,5px 4px 1px #9c9f8d,4px 5px 1px #797c68,6px 5px 1px #9c9f8d, 10px 10px 10px #333;
  }
}
.drop-ready{
  -webkit-animation-name: pulse;
  -webkit-animation-duration: .2s;
  -webkit-animation-iteration-count: 3;
}
