{% extends "super/foundation.html" %}
{% block "title" %}Occipital{% endblock %}
{% block "css" %}
<link rel="stylesheet" href="/static/css/foundation.min.css">
<link rel="stylesheet" href="/static/css/main.css">
{% endblock %}
{% block "js" %}
<script>
 jQuery(document).ajaxSend(function(event, xhr, settings) {
    if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
      var token = $('meta[name="csrf-token"]').attr('content');
      xhr.setRequestHeader("X-CSRFToken", token);
    }
  });
</script>
{% endblock %}
{% block "content" %}
    {% load verbatim %}
    <noscript>
      <div class="main-content-area">
        <p style="text-align: center;">Please enable JavaScript to use Occipital.</p>
      </div>
    </noscript>
    {% verbatim %}
    <script type="text/x-handlebars" data-template-name="application"> 
    <div class="row container">
      <div class="main-content-area large-12 columns">
          {{outlet}}
      </div>
    </div>
    </script>
    <script type="text/x-handlebars" data-template-name="index">
      {{#each wall in controller}}
       {{#linkTo "wall.boards" wall}}<p>{{wall.title}}</p>{{/linkTo}}
      {{/each}}
    </script>
    <script type="text/x-handlebars" data-template-name="wall">
      <h1>{{#linkTo "index"}}&#x21E7;{{/linkTo}} {{wall.title}}</h1>
      {{view App.CreateBoardView class="new-board-form"}}
      {{#each board in controller itemController='boardEntryItem'}}
        {{controller.length}}
        <div class="board">
          <h4 class="board-title" style="display: inline;">{{board.title}}</h4>
          <p class="label card-counter">
          {{#if board.cards }}
            {{board.cards.length}} {{pluralize board.cards.length board.singular board.plural}}
          {{else}}
            No cards
          {{/if}}
          </p>
          {{#view App.Droppable class="card-list"}}
            {{#each card in board.cards itemController='cardEntryItem'}}
              {{#view App.Draggable class="card"}}
                <p class="card-title">{{card.title}}</p><div class="option-square" {{action deleteCard}}></div>
              {{/view}}
            {{/each}}
            {{#if showNewCardForm}}
              {{#view App.CreateCardView class="new-card-form"}}
                {{view Ember.TextField valueBinding="newCardTitle" placeholder="title" class="card-input title"}}
                {{view Ember.TextField valueBinding="newCardContent" placeholder="content" class="card-input content"}}
                <div class="clearfix card-form-controls">
                  <button style="width:210px; margin:0;" class="button confirm" type=submit {{action saveCard}}>&#x2714;</button>
                  <button style="width:60px; margin:0;" class="button cancel" type=submit {{action toggleProperty "showNewCardForm"}}>&#x2715;</button>
                </div><br>
              {{/view}}
            {{else}}
              <p class="add-button" {{action toggleProperty "showNewCardForm"}}>+</p>
            {{/if}}
          {{/view}}
        </div>
      {{/each}}
    </script>
    {% endverbatim %}
{% endblock %}
