{% extends "super/foundation.html" %}
{% block "title" %}Cranberry{% endblock %}
{% block "css" %}
<link rel="stylesheet" href="/static/css/foundation.min.css">
<link rel="stylesheet" href="/static/css/main.css">
{% endblock %}
{% block "content" %}
    {% load verbatim %}
    {% csrf_token %}
    <noscript>
      <div class="main-content-area">
        <p style="text-align: center;">Please enable JavaScript to use Cranberry.</p>
      </div>
    </noscript>
    {% verbatim %}
    <script type="text/x-handlebars" data-template-name="application"> 
    <div class="row container">
      <div class="main-content-area large-12 columns">
          {{outlet}}
      </div>
    </div>
    </script>
    <script type="text/x-handlebars" data-template-name="boards">
      {{view App.CreateBoardView}}
      {{#each board in controller itemController='boardEntryItem'}}
        <div class="board">
          <h4 class="board-title" style="display: inline;">{{board.title}}</h4>
          <p class="alert label card-counter">
          <span style="font-size: 2em;">{{board.owner}}</span>
          {{#if board.cards }}
            {{board.cards.length}} {{pluralize board.cards.length board.singular board.plural}}
          {{else}}
            No Cards
          {{/if}}
          </p>
          {{#view App.Droppable class="card-list"}}
            {{#if board.cards}}
            {{#each card in board.cards itemController='cardEntryItem'}}
              {{#view App.Draggable class="card"}}
                <p class="card-title">{{card.title}}</p><div class="option-square" {{action delete}}></div>
              {{/view}}
            {{/each}}
            {{else}}
              <p style="border: 3px dashed #52A290; border-radius: 5px; padding: 15px;background-color: #488D7E; text-align: center">Add a card...</p>
            {{/if}}
          {{/view}}
          <form action="" >
          {{view Ember.TextField valueBinding="newCardTitle" placeholder="title"}}
          {{view Ember.TextField valueBinding="newCardContent" placeholder="content"}}
          <button type=submit {{action save}}>Create this card</button>
          </form>
        </div>
      {{/each}}
    </script>
    {% endverbatim %}
{% endblock %}
