<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" href="/static/css/foundation.min.css">
</head>
<body>
  <form action="." method="post">{% csrf_token %}
  <div class="row collapse">
  <h1 style="text-align: center;">Cranberry</h1>
    <div class="small-3 large-2 columns">
      <span class="prefix">Username</span>
    </div>
    <div class="small-9 large-10 columns">
      {{form.username}}
    </div>
    <div class="small-3 large-2 columns">
      <span class="prefix">Password</span>
    </div>
    <div class="small-9 large-10 columns">
      {{form.password}}
    </div>
    <input type="hidden" name="next" value="/" />
    <p style="text-align: center;"><input type="submit" value="log in" class="button"></p>
  </form>
  </div>
</body>
</html>
